<form class="p-3">



 <div class="mb-3">

  <label>Titre</label>

  <input type="text" class="form-control">



 <!--- <div class="text-danger">

   <small>Titre obligatoire.</small>

   <small>Minimum 5 caractères.</small>

   <small>Doit commencer par une majuscule et contenir seulement des lettres.</small>

  </div>---->

 </div>



 <div class="mb-3">

  <label>Description</label>

  <textarea rows="4" class="form-control"></textarea>



  <!----- <div class="text-danger">

   <small>Description obligatoire.</small>

   <small>

    Minimum 30 caractères.

   </small>

  </div>---->

 </div>



 <div class="mb-3">

  <label>Catégorie</label>

  <select class="form-select">

   <option value="">-- Choisir une catégorie --</option>

   <option >cc</option>

  </select>



 <!---<div class="text-danger">

   <small>Catégorie obligatoire.</small>

  </div>---->

 </div>



 <div class="mb-3">

  <label>Date</label>

  <input type="text" class="form-control" >

 </div>



 <div class="mb-3">

  <label>Status</label>

  <input type="text" class="form-control" >

 </div>



 <button class="btn btn-primary" type="submit">

  Soumettre

 </button>



</form>




