<form class="p-3" [formGroup]="myForm" (ngSubmit)="submit()">



 <div class="mb-3">

  <label>Titre</label>

  <input type="text" class="form-control" formControlName="title">



 <div class="text-danger" *ngIf="myForm.get('title')?.touched && myForm.get('title')?.invalid">

   <small *ngIf="myForm.get('title')?.errors?.['required']">Titre obligatoire.</small>

   <small *ngIf="myForm.get('title')?.errors?.['minlength']">Minimum 5 caractères.</small>

   <small *ngIf="myForm.get('title')?.errors?.['pattern']">Doit commencer par une majuscule et contenir seulement des lettres.</small>

  </div>

 </div>



 <div class="mb-3">

  <label>Description</label>

  <textarea rows="4" class="form-control" formControlName="description"></textarea>



<div class="text-danger" *ngIf="myForm.get('description')?.invalid">

   <small *ngIf="myForm.get('title')?.errors?.['required']">Description obligatoire.</small>

   <small *ngIf="myForm.get('title')?.errors?.['minlength']">

    Minimum 30 caractères.

   </small>

  </div>

 </div>



 <div class="mb-3">

  <label>Catégorie</label>

  <select class="form-select" formControlName="category" *ngIf="myForm.get('category')?.invalid">

   <option value="">-- Choisir une catégorie --</option>

   <option *ngFor="let c of categories" >{{c}}</option>

  </select>



 <!---<div class="text-danger">

   <small>Catégorie obligatoire.</small>

  </div>---->

 </div>



 <div class="mb-3">

  <label>Date</label>

  <input type="text" class="form-control" formControlName="date" readonly>

 </div>



 <div class="mb-3">

  <label>Status</label>

  <input type="text" class="form-control" formControlName="status" readonly>

 </div>



 <button class="btn btn-primary" type="submit" [disabled]="myForm.invalid">

{{id ? "update" : "add"}}

 </button>



</form>




